
  <!--<div class="col-md-2" id="sidebar">-->
  <div class="sides" >
    <div class="row" style="height: 30px">
    </div>
    <div class="row sidehover">
      <div class="col-md-12">
        <a routerLink="/main/dashboard"><h4 class="dash">HOME</h4></a>
      </div>
    </div>
    <div class="row" style="height: 30px">

    </div>

    <div class="row sidehover">
      <div class="col-md-12">
        <a routerLink="/main/customer"><h4 class="dash">CUSTOMER</h4></a>
      </div>
    </div>
    <div class="row" style="height: 30px">

    </div>
    <div class="row sidehover" >
      <div class="col-md-12">
        <a routerLink="/main/item"><h4 class="dash">ITEM</h4></a>
      </div>
    </div>

    <div class="row" style="height: 30px">

    </div>
    <div class="row sidehover" >
      <div class="col-md-12">
        <a routerLink="/main/orderForm"><h4 class="dash">ORDER</h4></a>
      </div>
    </div>
    <div class="row" style="height: 30px">

    </div>

    <div class="row" style="height: 380px">

    </div>
  </div>
  <!--</div>-->
  <!--<div class="col-md-10">-->
    <!--<router-outlet></router-outlet>-->

  <!--</div>-->

